package.json
package-lock.json
dist
e2e/**
karma.conf.js
commitlint.config.js
node_modules
src/assets
src/ext
/src/favicon.ico

/src/font.css

/src/index.html

/src/main.ts

/src/manifest.webmanifest

/src/polyfills.ts

/src/styles.css

/src/test.ts
/src/environments/
